chainlit==1.1.306
langchain==0.2.6
langchain_chroma==0.1.2
langchain_community==0.2.6
langchain_core==0.2.11
langchain_huggingface==0.0.3
langchain_text_splitters==0.2.2
torch==2.2.2
transformers==4.42.3
